
body{
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 1380px;
}

h1, h2, p{
    margin: 0;
}


.head{
    background: #004743;
    height: 40px;
    width: 100%;
    line-height: 40px;
}


.head p{
    margin: 0 9%;
    color: white;
    font-size: 16px;

}

.head a:link, .head a:visited{
    color: yellowgreen;
}

.head_blue{
    background: #003459;
    height: 40px;
    width: 100%;
    line-height: 40px;
}


.head_blue p{
    margin: 0 9%;
    color: white;
    font-size: 16px;

}

.head_blue a:link, .head_blue a:visited{
    color: #00a8e8;
}



#banner{
    background: rgb(0,135,91);
    height: 130px;
    line-height: 130px;
    color: white;
}

#banner p{
    position: relative;
    top: -6px;
    font-size: 53px;
    margin-left: 9%;

}

#banner span{
    position: relative;
    top: -8px;
    font-size: 28px;
    margin-left: 20px;
}

#menu{
    background: rgb(128,194,142);
    height: 55px;
    line-height: 55px;
    font-family: myriad-pro-semiextended, sans-serif;
    font-weight: 500;
    font-style: normal;
}

#buttons{
     margin-left: 9%;
     font-size: 25px;
 }

#buttons span{
    position: relative;
    left: -20px;
    margin-right: 25px;
    height: 100%;
    padding: 0 20px;
    display: inline-block;
}
#buttons a{
    text-decoration: none;
}

#buttons a:visited{
    color: black;
}
#buttons span:hover{
    background: #94e0a7;

}

#buttons_blue{
    margin-left: 9%;
    font-size: 25px;
}

#buttons_blue span{
    position: relative;
    left: -20px;
    margin-right: 25px;
    height: 100%;
    padding: 0 20px;
    display: inline-block;
}
#buttons_blue a{
    text-decoration: none;
}

#buttons_blue a:visited{
    color: black;
}
#buttons_blue span:hover{
    background: #90e0ef;
}

.content{
    width: 95%;
    display: flex;
}

.content-left{
    flex: 0 0 65%;
    float: left;
    display:inline-block;
    height: 100%;
    padding: 2% 3% 2% 9%;
}

#content-right{
    flex:1;
    float: left;
    display:inline-block;
    width: 30%;
    height: 30%;
    padding: 4% 1% 2% 1%;
    background: rgb(214,221,210);
}

.title{
    font-weight: bold;
    font-size: 37px;
    margin-top: 3%;
}

.second-title a:link, .second-title a:visited{
    color:forestgreen;
    font-weight: bold;
    text-decoration: none;
}


.second-title{
    margin: 5px 0px;
    font-size: 15px;
}

.second-title_blue a:link, .second-title_blue a:visited{
    color:#00b4d8;
    font-weight: bold;
    text-decoration: none;
}


.second-title_blue{
    margin: 5px 0px;
    font-size: 15px;
}

.main-text{
    font-size: 17px;
}

.main-text a:link, .main-text a:visited{
    font-weight: bold;
    color: forestgreen;
    text-decoration: none;
}

.main-text_blue{
    font-size: 17px;
}

.main-text_blue a:link, .main-text_blue a:visited{
    font-weight: bold;
    color: #00b4d8;
    text-decoration: none;
}

blockquote{
    border-left: 3px solid forestgreen;
    padding-left: 7px;
}

h3{
    font-size: x-large;
    margin: 2% 0px;
}

h4{
    font-size: larger;
    margin: 2% 0px;
}

#plist1{
    margin: 0px 0px 0px 10px;
}

#plist2{
    margin-top: 0px;
}

.foot{
    background: rgb(0,69,50);
    height: 190px;
    width: 100%;
    margin-top: 0px;
}

.foot_blue{
    background: #003459;
    height: 190px;
    width: 100%;
    margin-top: 0px;

}

.flexbox{
    display: flex;
    margin: 0 9%;
    padding-top: 15px;
}

.link-block, .follow-block{
    flex: 1;
    font-size: 17px;
    font-weight: 400;
}

.link-block a:link, .link-block a:visited,.follow-block a:link, .follow-block a:visited{
    color: white;
    text-decoration: none;
}


.foot .title{
    color: yellowgreen;
    font-size: 25px;
    margin: 10px 0px;
    font-weight: 400;
}

.foot_blue .title{
    color: #00b4d8;
    font-size: 25px;
    margin: 10px 0px;
    font-weight: 400;
}

#copyright-block{
    margin-top: 10px;
    color: yellowgreen;
    text-align: right;
    font-size: 14px;
}

.right-text{
    padding: 0px 20px;
    font-size: 17px;
    font-weight:400;
}

.right-text .title{
    font-size: 20px;
    font-weight: 600;
    margin: 3px 0px;
    font-family: myriad-pro-semiextended;
}


.links{
    padding-left: 20px;
    margin-bottom: 15px;
}

.links a:link, .links a:visited{
    color: black;
    text-decoration: none;
}

