body{
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, p{
    margin: 0;
}


.head{
    background: #004743;
    width: 100%;
    line-height: 40px;
}

.head span{
    float: right;
}

@media screen and (max-width: 696px) {
    .head span{
        float: left;
    }
    .head{
        height: 80px;
    }
}

.head p{
    margin: 0 9%;
    color: white;
    font-size: 16px;

}

.head a:link, .head a:visited{
    color: yellowgreen;
}


#banner{
    background: rgb(0,135,91);
    height: 130px;
    line-height: 130px;
    color: white;
}

#banner p{
    position: relative;
    top: -6px;
    font-size: 53px;
    margin-left: 9%;

}

.icon{
    display:none;
    display: none;
}


#banner span{
    position: relative;
    top: -8px;
    font-size: 28px;
    margin-left: 20px;
}


#buttons a.active {
    background-color: #4CAF50;
    color: white;
}


#menu{
    background: rgb(128,194,142);
    line-height: 55px;
    font-family: myriad-pro-semiextended, sans-serif;
    font-weight: 500;
    font-style: normal;
}

#buttons{
    margin-left: 9%;
    font-size: 25px;
}

#buttons span{
    position: relative;
    left: -20px;
    margin-right: 25px;
    height: 100%;
    padding: 0 20px;
    display: inline-block;
}
#buttons a{
    text-decoration: none;
    color: black;
}

#changeColor{
    text-decoration: none;
    color: black;
}

#buttons a:visited{
    color: black;
}
#buttons span:hover{
    background: #94e0a7;

}

@media screen and (max-width: 888px) {
    #buttons a:not(:first-child){display:none;}
    #buttons a.icon{
        float: right;
        margin-right:5%;
        display: block;
    }
}
@media screen and (max-width: 888px) {
    #buttons.responsive {position: relative;}
    #buttons.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    #buttons.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}
.content{
    width: 100%;
    display: flex;
}

.content-left{
    flex: 0 0 70%;
    float: left;
    display:inline-block;
    height: 100%;
    padding: 2% 3% 2% 9%;
}

#close{
    display: none;
    position: absolute;
    font-size: 30px;
    top:5px;
    right: 5px;
}

#close:link, #close:visited, #close:hover{
    text-decoration: none;
    color: #003459;
}

#openright{
    color: #004743;
}

#content-right{
    flex:1;
    float: right;
    //display:inline-block;
    min-width: 350px;
    max-width: 600px;
    height: 30%;
    padding: 4% 1% 2% 1%;
    margin-right: 5%;
    background: rgb(214,221,210);
}
@media screen and (max-width: 1280px) {
    #content-right {
        display: none;
    }
    #close{
        display: block;
    }
    .content-left{
        flex: 0 0 90%;
    }
    .content .icon{
        display: block;
    }
    #content-right{
        position: absolute;
        right: 0px;
        margin-right: 0%;
        height: 600px;
    }
    #banner span{
        font-size: 2vw;
    }
}
.title{
    font-weight: bold;
    font-size: 37px;
    margin-top: 3%;
}

.second-title a:link, .second-title a:visited{
    color:forestgreen;
    font-weight: bold;
    text-decoration: none;
}


.second-title{
    margin: 5px 0px;
    font-size: 15px;
}



.main-text{
    font-size: 17px;
}

.main-text a:link, .main-text a:visited{
    font-weight: bold;
    color: forestgreen;
    text-decoration: none;
}

blockquote{
    border-left: 3px solid forestgreen;
    padding-left: 7px;
}

h3{
    font-size: x-large;
    margin: 2% 0px;
}

h4{
    font-size: larger;
    margin: 2% 0px;
}

#plist1{
    margin: 0px 0px 0px 10px;
}

#plist2{
    margin-top: 0px;
}

.foot{
    background: rgb(0,69,50);
    //height: 190px;
    width: 100%;
    margin-top: 0px;
}


.flexbox{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    margin: 0 9%;
    padding-top: 15px;
}

.link-block, .follow-block{
    flex: 1;
    font-size: 17px;
    font-weight: 400;
}

.link-block a:link, .link-block a:visited,.follow-block a:link, .follow-block a:visited{
    color: white;
    text-decoration: none;
}


.foot .title{
    color: yellowgreen;
    font-size: 25px;
    margin: 10px 0px;
    font-weight: 400;
}


#copyright-block{
    margin-top: 10px;
    color: yellowgreen;
    text-align: right;
    font-size: 14px;
}

.right-text{
    padding: 0px 2px;
    font-size: 17px;
    font-weight:400;
}

.right-text .title{
    font-size: 20px;
    font-weight: 600;
    margin: 3px 0px;
    font-family: myriad-pro-semiextended;
}


.links{
    padding-left: 20px;
    margin-bottom: 15px;
}

.links a:link, .links a:visited{
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1011px) {
    #copyright-block{
        text-align: left;
    }
}